/* styles.css */
.indent-3,.indent-1 > li {
    cursor: pointer;
  }
/* Corrected CSS */
.indent-3 li:hover,
.indent-1 li:hover {
  color: "#F5821F";
  font-weight: 600;
}

.Center_content_div::-webkit-scrollbar {
  display: none; /* Hide the scrollbar in Webkit-based browsers like Chrome */
}

.changeScrollTop{
  font-family: "Open Sans",sans-serif !important;

}