@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customize scrollbar width and color */
::-webkit-scrollbar {
    width: 8px;  /* Set the width of the scrollbar */
    height: 8px; /* Set the height of the horizontal scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(45, 72, 221);  /* Color of the scrollbar thumb */
    border-radius: 10px;  /* Round corners of the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-track {
    display: none;
    background-color: #f1f1f1;  /* Color of the scrollbar track */
    border-radius: 10px;  /* Round corners of the scrollbar track */
  }
  
/*  */
.font-circular {
  font-family: 'CircularXXSub-Regular', sans-serif !important;
}
.content-heading-font {
  font-size: 2rem;
  font-weight: 600;
  color:#2D48DD;
  font-family: 'CircularXXSub-Medium',sans-serif ;
}

.content-subheading-font {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: 'CircularXXSub-Medium',sans-serif ;
}

.title-font{
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.01em;
  margin: 1em 0;
  font-family: 'CircularXXSub-Medium',sans-serif ;
  color:#181154 !important
}

td, th {
  border-top: 1px solid #ccc;   /* Add top horizontal border between rows */
  border-bottom: 1px solid #ccc; /* Add bottom horizontal border between rows */
  border-left: none;  /* Remove vertical border on the left */
  border-right: none; /* Remove vertical border on the right */
}

